/* ANCHOR MENU */
.anchor-menu .sticky-container ul li .active-sticky {
    font-weight: 600 !important;
    color: #254f90;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 16px;
    border: none;
    border-left: #b3c2d8 solid 4px;
}

/* BREADCRUMBS */
.breadcrumb-wrapper {
    display: flex;
}

/* MODAL */
.modal-wrapper {
    display: none;
}
.modal-wrapper.active {
    display: block;
    position: fixed;
    width: 500px;
    padding: 64px 32px 32px 32px;
    top: 30%;
    left: calc(50% - 250px);
    background: $white;
    z-index: 7000;
    box-shadow: 0 .125rem .375rem 0 rgba(0, 0, 0, .5); 
    border-top: solid $blue-primary-mid 4px;
    
    .modal-close {
        text-indent: -9999px;
        height: 24px;
        width: 24px;
        background: url(../assets/Icon-cross-blue.svg) no-repeat;
        position: absolute;
        right: 32px;
        top: 32px;
        cursor: pointer;
    }
}
.modal-background {
    display: none;
}
.modal-background.active {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(51, 51, 51, .5);
    position: fixed;
    z-index: 6999;
}

// GENERAL
.media-player .media-player-player {
    background: $darkblue-light;
}

.audio-header {
    background: $blue-primary-mid;
    padding: 32px;
    
    @media (max-width: 576px) {
        padding: 24px 16px;
    }
    
    h2 {
        color: $white;
        @include font-format($font-family, $font-semibold, normal);
        padding: 0;
        
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
        }  
    }
    &.graphic {
        display: flex;
        align-items: stretch;

        h2 {
            @media (max-width: 576px) {
                font-size: 20px;
                line-height: 28px;
            } 
        }
        img {              
            width: 132px;
            height: 132px;
            margin-right: 32px;
              
              @media (max-width: 768px) {
                  width: 80px;
                  height: 80px;
                  margin-right: 16px;
              }
              @media (max-width: 576px) {
                  width: 56px;
                  height: 56px;
              }
        }
        .text-wrapper {
            display: flex;
            align-items: center;
        }
    }
    
}

.main-section {
    a:visited {
        color: $blue-primary-mid;
        border-bottom-color: $blue-primary-mid;
    }
    
    ul li {
        position: relative;
        
        &:before {
            content: "" !important;
            position: absolute;
            left: -1.8rem;
            top: .6rem !important;
            width: 6px !important;
            height: 6px !important;
        }
    }
    .contact-card {
        padding: 0;
        margin-bottom: 32px;
    }
    
    hr {
        border: 0;
        width: 3.25rem;
        margin: 0;
        text-align: left;
        border-top: .125rem solid #edca72;
    }    
}


// MINI-LIST
.mini-list {
   margin-bottom: 32px;

   .mini-list-item {
       position: relative;
       margin-bottom: 4px;
       min-height: 64px;

       .mini-list-item-title {
           padding: 16px 24px 16px 16px;
           display: inline-flex;
           background: $blue-lightest url("../assets/chevron-down-blue.svg") no-repeat;
           background-position: right 24px center;
           width: 100%;
           cursor: pointer;

           h3 {
               font-size: 18px;
               padding: 0 36px 0 16px;
               line-height: 24px;
               width: calc(100% - 32px);
               
               @media (max-width: 567px) {
                   font-size: 16px;
               }
           }

           &:hover {
               background-color: #D5E2F2;

               h3 {
                   text-decoration: underline;
               }
           }
       }

       .content-wrapper {
           display: none;

           .mini-list-item-content {
               padding: 0 24px 24px 64px;
               position: relative;
               background: $blue-lightest;

               p {
                   font-size: 16px;
                   line-height: 28px;

                   &:last-of-type {
                       padding-bottom: 0;
                   }

               }

               a {
                   color: $blue-primary;
                   box-shadow: none;
                   border-bottom: 2px solid $blue-hyperlink;


                   &:hover {
                       text-decoration: none;
                       box-shadow: $white 0px -20px 0px 0px inset;
                   }

                   &:active {
                       color: $black;
                   }
               }

           }
       }

       &.open {
           .mini-list-item-title {
               background: #D5E2F2 url("../assets/chevron-up-blue.svg") no-repeat;
               background-position: right 24px center;
           }
           .mini-list-item-content {
               background: #D5E2F2;
           }
       }
   }      
}
   