.page-header-theme-guide {
    background: #FFE492;
    padding: 64px 15px !important;
    
    .page-header-intro {
        font-size: 18px;
        line-height: 30px;
    }
    svg {
        width: 100%;
        margin-bottom: 32px;
    }
    img {
        width: 100%;
        max-width: 425px;
        margin: 0 auto 32px;
        display: block;
    }
    @media (max-width: 576px){
        padding: 64px 15px 48px 15px !important;
        
        h1 {
            font-size: 32px;
            line-height: 37px;
        }
    }
    @media (min-width: 768px) {
        
        min-height: 384px;
        
        .header-image-wrapper {
            width: inherit;
            margin-top: 16px;
            svg, img {
                position: absolute;
                padding-right: 30px;        
            }
        }
    }
}
.top-of-page {
    padding-top: 0;
}
.guide-main-section {
    .anchor-section {
        width: 100%;
    }
}

.guide-mini-list {
   margin-bottom: 32px;
    max-width: 768px;

   .guide-mini-list-item {
       position: relative;
       margin-bottom: 4px;

       .guide-mini-list-item-title {
           padding: 16px 24px 16px 16px;
           display: inline-flex;
           background: #FFF3CF url("../assets/chevron-down-black.svg") no-repeat;
           background-position: right 24px center;
           width: 100%;
           cursor: pointer;

           h3 {
               font-size: 18px;
               padding: 0 36px 0 16px;
               line-height: 24px;
               width: calc(100% - 32px);
               
               @media (max-width: 567px) {
                   font-size: 16px;
               }
           }

           &:hover {
               background-color: #FFEEB9;

               h3 {
                   text-decoration: underline;
               }
           }
       }

       .content-wrapper {
           display: none;

           .guide-mini-list-item-content {
               padding: 0 24px 24px 64px;
               position: relative;
               background: #FFEEB9;

               p {
                   font-size: 16px;
                   line-height: 28px;

                   &:last-of-type {
                       padding-bottom: 0;
                   }

               }

               a {
                   color: $blue-primary;
                   box-shadow: none;
                   border-bottom: 2px solid $blue-hyperlink;


                   &:hover {
                       text-decoration: none;
                       box-shadow: $white 0px -20px 0px 0px inset;
                   }

                   &:active {
                       color: $black;
                   }
               }

           }
       }

       &.open {
           .guide-mini-list-item-title {
               background: #FFEEB9 url("../assets/chevron-up-black.svg") no-repeat;
               background-position: right 24px center;
           }
           .guide-mini-list-item-content {
               background: #FFEEB9;
           }
       }
   }
    @media (max-width: 576px) {
        .guide-mini-list-item {
            .guide-mini-list-item-title {
                padding: 16px 8px;
                background-position: right 12px center;
                
                h3 {
                    font-size: 16px;
                    padding: 0 24px 0 8px;
                }
                svg {
                    width: 24px;
                    height: 24px;
                }
            }
            .content-wrapper {
                .guide-mini-list-item-content {
                    padding: 0 24px 16px 40px;
                }
            }
            &.open {
               .guide-mini-list-item-title {
                   background-position: right 12px center;
               }
            }
        }
    }
}


#guide-tiles {
    margin: 0 0 32px 0;
    width: 100%;
    max-width: 100%;

    .guide-expand-all {
        margin-bottom: 8px;
        position: relative;
        min-height: 36px;
        
        .guide-group-toggle-content {
            max-width: 96px;
            position: absolute;
            top: 0;
            right: 0;

            h5 {
                display: inline-block;
                color: $grey-darker;
                text-decoration: none;
                margin: 0;
                padding: 0;
            }
            .BgaIcon {
                display: inline-block;
                margin-left: 8px;
            }
            &:hover,
                &:focus {
                    border-bottom: solid #666666 2px;
                }    
        }    
    }

    .guide-section {
        background: $blue-lightest;
        margin-bottom: 16px;
        padding: 0 0 0 16px;
        width: 100%;
        max-width: 1140px;
        cursor: pointer;
        display: block;

        &.green {
            background-color: #E0F2F1;
            
            .guide-title .chevron-wrapper {
                background-color: darken(#E0F2F1, 5%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#E0F2F1, 5%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#E0F2F1, 10%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#E0F2F1, 5%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $teal-mid 4px;
            }
            
        }
        
        &.red {
            background-color: #FFE4DE;

            .guide-title .chevron-wrapper {
                background-color: darken(#FFE4DE, 4%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#FFE4DE, 4%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#FFE4DE, 8%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#FFE4DE, 4%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $red-mid 4px;
            }
        }
        
        &.yellow {
            background-color: #FFF3CF;

            .guide-title .chevron-wrapper {
                background-color: darken(#FFF3CF, 4%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#FFF3CF, 4%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#FFF3CF, 8%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#FFF3CF, 4%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $yellow-secondary-light 4px;
            }
        }
        
        &.grey {
            background-color: #E0E2EE;

           .guide-title .chevron-wrapper {
                background-color: darken(#E0E2EE, 3%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#E0E2EE, 3%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#E0E2EE, 7%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#E0E2EE, 3%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $darkblue-mid 4px;
            }

        }
       
        &.purple {
            background-color: #F2EEFA;

            .guide-title .chevron-wrapper {
                background-color: darken(#F2EEFA, 3%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#F2EEFA, 3%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#F2EEFA, 7%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#F2EEFA, 3%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $darkpurple-light 4px;
            }

        }
        
        &.light-blue {
            background-color: #EBF4FF;

            .guide-title .chevron-wrapper {
                background-color: darken(#EBF4FF, 4%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#EBF4FF, 4%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#EBF4FF, 8%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#EBF4FF, 4%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $blue-mid 4px;
            }

        }
       
        &.magenta {
            background-color: #FFECF3;

            .guide-title .chevron-wrapper {
                background-color: darken(#FFECF3, 3%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#FFECF3, 3%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#FFECF3, 7%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#FFECF3, 3%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $purple-mid 4px;
            }
        }
        
        &.blue {
            background-color: #E4ECF6;

            .guide-title .chevron-wrapper {
                background-color: darken(#E4ECF6, 3%);
            }
            
            &.open,
            &:hover, {
                background-color: darken(#E4ECF6, 3%);
                
                .guide-title .chevron-wrapper {
                    background-color: darken(#E4ECF6, 7%);
                }
                &.open {
                    .guide-title .chevron-wrapper {
                        background-color: darken(#E4ECF6, 3%);
                    }    
                }
            }
            .guide-subtile {
                border-top: solid $blue-primary-mid 4px;
            }

        }
       
        .guide-title {
            display: inline-flex;
            padding: 0 64px 0 0;
            position: relative;
            
            .chevron-wrapper {
                width: 92px;
                height: 100%;
                position: absolute;
                background: url("../assets/chevron-down-black-lrg.svg") no-repeat;
                background-position: center center;
                right: 0;
                top: 0;
            }

            &:hover {
                h3 {
                    text-decoration: underline;
                }
            }

            &.open {
                .chevron-wrapper {
                    background: url("../assets/chevron-up-black-lrg.svg") no-repeat;
                    background-position: center center;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            .title-image {
                max-width: 250px;
                margin: 24px 0 16px 0;
                display: block;

                svg, img {
                    max-width: 250px;
                    height: auto;
                }
            }

            .title-text {
                margin: 0 40px 0 16px;
                padding: 24px 0 0 0;
                display: block;
                
                h3 {
                    padding: 0 0 16px 0;
                }

                p {
                    font-size: 16px;
                    padding-bottom: 24px;
                }
            }
        }
        
        .guide-content {
            display: none;
        }
        
        .guide-subtiles-wrapper {
            padding: 24px 0px 0 16px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            
            .guide-subtile {
                flex-basis: calc(33.33% - 32px);
                max-width: calc(33.33% - 32px);
                margin: 0 32px 32px 0;
                padding: 16px 24px 56px 24px;
                background: $white;
                box-shadow: 0 0.125rem 0.375rem 0 rgba(0, 0, 0, .1);
                position: relative;
                transition: all 0.2s ease;
                display: block;

                .page-link {
                    padding: 0;
                    border: none;
                    background-color: $white;
                    
                    &:focus {
                        box-shadow: none;
                    }
                }
                span.tag {
                    margin: 0 0 24px 0 !important;
                    font-size: 12px;    
                    border: solid 2px #ffd964;
                    width: auto;
                    color: $black-light;
                }

                h4 {
                    padding: 0 0 24px 0;
                }

                p {
                    font-size: 16px;
                }

                .subtile-link {
                    letter-spacing: 0;
                    font-size: 12px;
                    line-height: 18px;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #333333;
                    display: block;
                    position: absolute;
                    bottom: 24px;
                    display: flex;
                    
                    span {
                        padding-right: 24px;
                    }
                    
                    svg{ 
                        height: 16px;
                        width: 16px;
                        margin: 0 8px 0 0;
                    }
                }
                
                &:hover, 
                &:focus {
                    transform: translateY(-4px);
                    box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,.2);
                    
                    h4 {
                        color: $blue-primary;
                        text-decoration: underline;
                    }
                }

            }
        }
    }
    
    @media (max-width: 992px) {
        .guide-section {
             .guide-title {
                .title-image {
                    max-width: 180px;
                    
                    svg {
                        max-width: 180px;
                    }
                }
            }
            .guide-subtiles-wrapper {
                .guide-subtile {
                    flex-basis: calc(50% - 32px);
                    max-width: calc(50% - 32px);
                    
                    span.tag {
                        display: inline-block !important;
                    }
                }
            }
        }
    }
    @media (max-width: 768px) {
        .guide-section {
            .guide-title {
                .title-image {
                    display: none;
                }
            }
            .guide-subtiles-wrapper {
                .guide-subtile {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
        }
    }
    @media (max-width: 576px) {
        .guide-section {
            padding: 0;
            
            .guide-title {
                .title-text {
                    padding: 24px 0 0 0;
                    margin: 0 16px 0 16px;
                }
                .chevron-wrapper {
                    width: 64px;
                }
            }
            .guide-subtiles-wrapper {
                padding: 0px 0px 0 16px;
                .guide-subtile {
                    margin: 0 16px 24px 0;
                }
            }
        }
    }
}

