.page-header-theme-tool {
    background: #EFD8E7;
    padding: 48px 15px !important;
    
    h1 {
        margin: 0;
        padding: 0; 
    }
    img {
        width: 100%;
        margin: -10px auto 0;
        display: block;
        max-width: 250px; 
    }
    @media (max-width: 768px){
        padding: 32px 15px 48px !important;
        
        h1 {
            font-size: 32px;
            line-height: 37px; 
        }
    }
    @media (max-width: 768px) {
        .header-image-wrapper {
            img {
                display: none;
            }
        }
    }
}
.top-of-page {
    padding-top: 0;
}

.tool-main-section {
    
    .start-wrapper {
        
        border: 4px solid $grey-lighter;
        padding: 32px;
        margin-bottom: 32px;
        
        h2 {
            padding: 0 0 32px 0;
        }
        
        .start-button-wrapper {
            background: #EFD8E7;
            padding: 32px;
            margin-bottom: 32px;
            
            .start-lead {
                @include font-format($font-family, $font-semibold, normal);
                font-size: 18px;
                line-height: 28px;
                padding: 0;
                margin: 0 0 32px 0;
            }
            .standardcta-button-wrapper {
                max-width: 180px;
                margin: 0;
            }
        }
    }
   
    /* PROGRESS BAR */
    .progress-percentage {
        margin-bottom: 4px;
        
        p {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: normal;
            color: $grey-darker;
            display: inline;
        }
    }

    .progress {
        display: flex;
        overflow: hidden;
        font-size: 12px;
        border-radius: 4px;
        height: 4px;
        background: $grey-light;
        margin-bottom: 48px;
        
        .progress-bar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: $white;
            text-align: center;
            white-space: nowrap;
            height: 4px;
            background: $purple-dark;
            border-radius: 4px;
            transition: width 0.6s ease;
        }
    }
    /* Media Query for progress bar */
    @media (max-width: 576px) {

        .progress,
        .progress-bar {
            height: 3px;
        }
        .progress-percentage p {
            font-size: 12px;
            margin-bottom: 8px;
        }
    }
    
    form {
        margin-bottom: 32px;
        
        h3 {
            padding: 0 0 16px 0;
        }
        .no-padding-right {
            padding-right: 0px;
        }
        
        /* CONTEXTUAL HELP */
        .contextual-help {
            .help-question {

                display: flex;

                svg {
                    margin-right: 8px;
                    margin-top: 6px;
                    
                    &.open {
                        transform: rotate(90deg);
                    }
                }
                
                p {
                    cursor: pointer;
                    color: #4569A0;
                    text-decoration: underline;
                    padding: 0 0 0 0;
                    margin-bottom: 16px;
                    font-size: 14px;
                }          
            }
            .help-answer {
                display: none;
                margin-bottom: 32px;
                border-left: solid $blue-primary 2px;
                    padding: 0 0 0 14px;
                    margin-left: 2px;

                > *:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                > *:last-child li:last-of-type {          
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                p, li {
                    font-size: 14px;
                    padding-bottom: 16px;                
                }
            }
        }

        .form-divider {
            color: $grey;
            margin-top: 0;
            margin-bottom: 32px;
            padding: 0;
            border: 0;
            border-top: 2px solid $grey;
        }

        /* RADIO BUTTONS */
        .radio-item {
            margin-bottom: 32px;
            display: flex; 

            input[type="radio"] {
                opacity: 0;
                width: 0px;
                height: 0px;
            }
            label {
                box-sizing: border-box;
                min-height: 54px;
                position: relative;
                padding: 14px 14px 14px 48px;
                cursor: pointer;
                display: inline-block;
                line-height: 20px;
                width: calc(50% - 16px);
                margin-right: 16px;
                //display: block;
                font-size: 16px;
                @include font-format($font-family, $font-regular, normal);
                border: solid 1px $black-light;

                &:last-of-type {
                    margin-right: 0;
                }

                &:before {
                    height: 24px;
                    width: 24px;
                    content: " ";
                    background: url(../assets/radio-not-selected.svg) no-repeat;
                    background-size: 24px 24px;
                    position: absolute;
                    top: calc(50% - 12px);
                    left: 14px;
                }

                &.radio-focus {
                    border: $blue-primary solid 4px;
                    &:before {
                        background: url(../assets/radio-selected.svg) no-repeat;
                        background-size: 24px 24px;

                    }
                }
            }
            &.width-100 {
                display: block;
                label {
                    width: 100%;
                    margin-right: 0;
                }
                input {
                    display: none;
                }
            }
        }


        /* BUTTONS */

        .form-buttons {

            .standardcta-button-wrapper {
                margin: 0 10px 0 0;
                height: 48px;
                display: inline-block;
                width: calc(50% - 16px);

                &:last-of-type {
                    margin-right: 0;
                }

                .theme-button-primary {
                    color: $white;
                    background: $blue-primary-mid;
                    border: $blue-primary solid 2px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                    display: block;
                    padding-top: 14px;

                    &:visited {
                        border: $blue-primary solid 2px;
                        background: $blue-primary-mid;
                    }

                    &:hover {
                        color: $white;
                        background: $blue-primary;
                        border: $blue-active solid 2px;
                    }
                }

                .theme-button-secondary {
                    color: $blue-primary-mid;
                    background: $white;
                    border: $blue-primary-mid solid 2px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
                    display: block;
                    padding-top: 14px;

                    &:visited {
                        border: $blue-primary solid 2px;
                        background: $white;
                    }

                    &:hover {
                        color: $white;
                        background: $blue-primary;
                    }

                    &:active {}
                }

                &.disabled {
                    .theme-button-primary {
                        color: $grey;
                        background: $white;
                        border: solid 2px $grey;
                        cursor: default;

                        &:hover,
                        &:visited,
                        &:focus,
                        &:active {
                            color: $grey;
                            background: $white !important;
                            border: solid 2px $grey !important;
                            cursor: default;
                            box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px !important;
                            transform: none !important;
                        }
                    }
                }
            }
        }
        
        /* CLAUSE BOXES */
        .clause-box {
            padding: 0px 1.5em 1em 1.5em;
            display: none;
            border: 4px solid $grey-lighter;
            border-radius: 4px;
            margin: 0 0 32px 0;
            background: #f8f9fa;

            .clause-question {
                .clause-checkbox {
                    border-bottom: 2px solid #ffc107;

                    .checkbox-item {
                        display: inline-block;
                    }
                }
            }

            .clause-content {
                -webkit-box-align: normal;
                -ms-flex-align: normal;
                align-items: normal;
                padding-top: 16px;

                p {
                    padding: 0.25em 0;
                }

                .clause-icon {
                    padding: 0.5em 0;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    //display: block;
                    //position: absolute;
                    left: 32px;
                    top: 32px;
                    
                    svg {
                        width: 56px;
                    }

                    h3 {
                        padding: 0 0 0 1rem;
                        font-size: 1rem;
                    }
                }
            }

            @media (max-width: 576px) {

                .clause-content {
                    .clause-icon {
                        display: block;

                        svg {
                           display: none;
                        }

                        h3 {
                            padding: 0;
                        }
                    }
                }
            }
        }
        
        @media (max-width: 576px) {
            .no-padding-right {
                padding-right: 15px;
            }    
            .form-buttons {    
                .standardcta-button-wrapper {
                    width: 100%;
                    margin: 0 0 16px 0;

                    &:last-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
    
    
    /* RESULTS SECTION */
    .results-container {
        border: 4px solid $grey-light;
        padding: 32px;
        margin: 0 0 32px 0;
        
        @media (max-width: 576px) {
            padding: 16px;
        }

        .results-accordion {
            margin: 0 0 32px 0;

            .result-item {
                border-bottom: solid 2px $grey-light;
            }

            .result-item-title {
                padding: 16px;
                margin: 0;
                position: relative;

                svg {
                    position: absolute;
                    right: 16px;
                    top: calc(50% - 5px);
                }

                p:last-of-type {
                    padding: 0 24px 0 0;
                }

                &.open {
                    background: $grey-lightest;

                    p {
                        @include font-format($font-family, $font-semibold, normal);
                    }

                    svg {
                        transform: rotate(180deg);
                    }
                }

                &:hover,
                &:active,
                &:focus {
                    background: $grey-lightest;
                    cursor: pointer;

                    p {
                        @include font-format($font-family, $font-semibold, normal);
                    }
                }
            }

            .result-item-text {
                background: $grey-lightest;
                padding: 16px;
                display: none;

                p:last-of-type {
                    padding: 0;
                }
            }
        }

        .answers-accordion {
            margin: 0 0 32px 0;

            .answers-item {
                .answers-item-title {
                    background: $purple-light;
                    padding: 16px;
                    position: relative;

                    svg {
                        position: absolute;
                        right: 16px;
                        top: calc(50% - 5px);
                    }

                    p:last-of-type {
                        padding: 0 24px 0 0;
                    }

                    &.open {

                        p {
                            @include font-format($font-family, $font-semibold, normal);
                        }

                        svg {
                            transform: rotate(180deg);
                        }
                    }

                    &:hover,
                    &:active,
                    &:focus {
                        cursor: pointer;

                        p {
                            @include font-format($font-family, $font-semibold, normal);
                        }
                    }
                }

                .answers-item-text {
                    background: $purple-lightest;
                    padding: 16px;
                    display: none;

                    table {
                        width: 100%;

                        tr {
                            display: flex;
                            border-bottom: solid 2px $grey-light;
                        }

                        td {
                            padding: 16px;

                            &.question {
                                width: 70%;
                                padding-left: 0px;
                            }

                            &.answer {
                                width: 15%;
                                @include font-format($font-family, $font-semibold, normal);
                            }

                            &.edit {
                                padding-right: 0px;
                                width: 15%;
                                text-align: right;

                                a {
                                    background: url(../assets/Icon-edit.svg) no-repeat;
                                    background-position: center right;
                                    padding-right: 24px;
                                    border-bottom: none;
                                    text-decoration: underline;

                                    &:visited {
                                        color: $blue-primary-mid;
                                        border-bottom-color: none;
                                    }

                                    &:focus,
                                    &:hover {
                                        box-shadow: none;
                                        color: $blue-primary;
                                    }
                                }
                            }
                        }

                        @media (max-width: 768px) {
                            td {
                                &.question {
                                    width: 60%;
                                }

                                &.answer {
                                    width: 20%;
                                }

                                &.edit {
                                    width: 20%;
                                }
                            }
                        }

                        @media (max-width: 576px) {
                            display: block;
                            border-spacing: 0;

                            tr {
                                display: block;
                            }

                            td {
                                &.question {
                                    width: 100%;
                                    display: block;
                                }

                                &.answer {
                                    width: 61%;
                                    display: inline-block;
                                    padding: 8px 0px;
                                }

                                &.edit {
                                    width: 36%;
                                    display: inline-block;
                                    padding: 8px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }

        form {
            margin-bottom: 0;
            
            .form-buttons {
                .standardcta-button-wrapper {
                    width: auto;
                    margin: 0;
                    padding-right: 12px;
                }

                @media (max-width: 576px) {
                    .standardcta-button-wrapper {
                        width: 100%;
                        padding: 0;
                        
                        &:first-of-type {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }

    }


}
    
